body{
    background-color:whitesmoke;
}
h1{
    color: black;
    font-size:xx-large;
    text-align: center;
    text-decoration: dotted;
    
}
#img1{
    width: 20cm;
    height: auto;
    border-radius: 5%;
    box-shadow: 1px,1px,10px rgba(0,0,0,.7);
}
article{
    color: black;
    font-size:x-large;
}
footer{
    background-color:rgb(45, 128, 0);
    padding: 5px;
}